@import "../../Styling/variables.module";
@import "../../Styling/mixins.module";
@import "../../Styling/reset.module";

.gallery-page-container {
  width: 100vw;
  height: auto;

  // padding-top: 8rem;

  padding: 0 0 10rem 0;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-image: url("../../Views-Sections/Home/Static/poster-bg.png");

//  background-size: cover;
//  background-repeat: no-repeat;
  
}

.content-container {
  width: 80%;

  // padding: 5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 5rem 0 5rem 0;

  background-color: $nav-dropdown;
}



.list-container {
  width: 100%;

  display: flex;
  justify-content: center;

  // !! Justify content 'space-around' once more years are added

  // padding: 5rem 0 5rem 0;

  h3 {
    @include section-headings;

   
  }
}

.container-2021 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25rem;
}

.ul {
  display: flex;
  justify-content: space-around;

  width: 100%;
  margin: 1rem;

  list-style: none;
}

.gallery-buttons {
  color: $mauve;
  background-color: transparent;

  border: none;
  // border: solid 2px $mauve;
  outline: none;

  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  margin: 0 0.5rem 0 0.5rem;

  border-radius: 0.5rem;

  font-family: $nav-links;
  font-size: 1.6rem;

  cursor: pointer;

  &:active {
    transform: scale(1.1);
    transition: ease-in-out;
    color: $salmon;
  }
}

@media (hover: hover) {
  .gallery-buttons:hover {
    transform: scale(1.1);
    transition: ease-in-out;
    color: $salmon;
  }
}

.component-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5rem;
}

.section-headings {
  @include section-headings;
  margin: 1rem 0 1rem 0;
color: $black;
}

.img-container {
  width: 30rem;

  margin: 2rem;

  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  border-radius: 0.5rem;
}

// ? Media Queries


@include large {
  .gallery-page-container {
    padding-top: 8rem;
  }

  .section-headings{
    margin: 1.5rem 0 1.5rem 0;
  }
}

@include extra-large {
  .gallery-page-container {
    padding-top: 8rem;
    background-attachment: fixed;

  
  }

  .section-headings{
    margin: 2rem 0 2rem 0;
  }
}

@include extra-extra-large {
  .gallery-page-container {
    padding-top: 8rem;
background-attachment: fixed;

  }

  .section-headings{
    margin: 2.5rem 0 2.5rem 0;
  }
}

@include extra-extra-small {
  .img-container {
    width: 20rem;
  }
}
