@import "../../Styling/variables.module";
@import "../../Styling/mixins.module";
@import "../../Styling/reset.module";

.gallery-page-container {
  width: 100vw;
  height: auto;

  // padding-top: 8rem;

  padding: 0 0 10rem 0;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-image: url("../../Views-Sections/Home/Static/poster-bg.png");

  // background-repeat: no-repeat;
  // background-size: cover;
}

.content-container {
  width: 80%;

  // padding: 5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-container {
  width: 100%;
  height: 30rem;
  background-color: red;
}

.sub-heading-container {
  width: 100vw;
  height: fit-content;

  background-color: $nav-dropdown;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-headings {
  @include section-headings;
}

// .list-container {
//   width: 100vw;

//   display: flex;
//   flex-direction: column;
//   align-items: center;

//   // padding: 5rem 0 5rem 0;
// }

.ul {
  h3 {
    @include section-headings;
  }
}

.component-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  // margin-top: 5rem;
}

.img-container {
  width: 30rem;

  margin: 2rem;

  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  border-radius: 0.5rem;
}

@include large {
  .gallery-page-container {
    padding-top: 8rem;
  }
}

@include extra-large {
  .gallery-page-container {
    padding-top: 8rem;
  }
}

@include extra-extra-large {
  .gallery-page-container {
    padding-top: 8rem;
  }
}
