@import "../../Styling/variables.module";
@import "../../Styling/mixins.module";
@import "../../Styling/reset.module";

.gallery-page-container {
  width: 100vw;
  height: auto;

  // padding-top: 8rem;

  // padding: 0 0 10rem 0;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  // background-image: url("../../Views-Sections/Home/Static/poster-bg.png");

  background: linear-gradient(120deg, #ff0000 0%, #2400ff 100%),
    linear-gradient(120deg, #fa00ff 0%, #208200 100%),
    linear-gradient(130deg, #00f0ff 0%, #000000 100%),
    radial-gradient(110% 140% at 15% 90%, #ffffff 0%, #1700a4 100%),
    radial-gradient(100% 100% at 50% 0%, #ad00ff 0%, #00ffe0 100%),
    radial-gradient(100% 100% at 50% 0%, #00ffe0 0%, #7300a9 80%),
    linear-gradient(30deg, #7ca304 0%, #2200aa 100%);
  background-blend-mode: overlay, color, overlay, difference, color-dodge,
    difference, normal;

  //  background-size: cover;
  //  background-repeat: no-repeat;
}

.content-container {
  width: 80%;

  // padding: 5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.video-bg-container {
  background: $black;
}

.year-subheading {
  @include section-headings;
  width: 100vw;
  margin: 5rem 0 0 0;
}

.video-container {
  padding: 5rem 0 5rem 0;

  background-color: $black;

  position: relative;
}

.reverberation-video-container {
  width: 100vw;
}

.button-container {
  // ! Test
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  z-index: 1000;
}

.gallery-buttons {
  position: relative;
  display: inline-flex;
  width: 180px;
  height: 55px;
  margin: 0 15px;
  perspective: 1000px;

  font-size: 19px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform 0.25s;
  font-family: "Montserrat", sans-serif;

  &::before,
  &::after {
    position: absolute;
    // content: "BUTTON";
    height: 55px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid black;
    box-sizing: border-box;
    border-radius: 5px;
  }

  &::before {
    color: #fff;
    background: #000;
    transform: rotateY(0deg) translateZ(25px);
  }

  &::after {
    color: #000;
    transform: rotateX(90deg) translateZ(25px);
    background: white;
  }

  cursor: pointer;

  &:active {
    transform: translateZ(-25px) rotateX(-90deg);
    background: white;
  }

  @media (hover: hover) {
    &:hover {
      transform: translateZ(-25px) rotateX(-90deg);
      background: white;
    }
  }
}

#day1-button {
  &::before,
  &::after {
    content: "Day 1";
  }
}

#day2-button {
  &::before,
  &::after {
    content: "Day 2";
  }
}

#day3-button {
  &::before,
  &::after {
    content: "Day 3";
  }
}

.component-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5rem;

  padding-bottom: 10rem;
}

.section-headings {
  // @include section-headings;

  font-size: 3rem;
  line-height: 5rem;
  // font-family: $section-subheadings;
  font-family: $main-font-semi-bold-font-family;
  letter-spacing: 0.3rem;
  text-align: center;
  margin: 1rem 0 1rem 0;
  color: $black;
  width: 100vw;
}

.img-container {
  width: 30rem;

  margin: 2rem;

  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  border-radius: 0.5rem;

  cursor: pointer;
}

@media (hover: hover) {
  .img-container:hover {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  }
}

.modal-content-container {
  position: relative;
}

.modal-img {
  width: 100%;
  height: auto;
  object-fit: cover;

  border-radius: 0.5rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.next-button,
.previous-button,
.close-modal-button {
  position: absolute;
  // border-radius: 50%;
  outline: none;
  border: none;
  background-color: transparent;
  color: $white-grey;
  font-size: 2.5rem;

  cursor: pointer;
}

.next-button {
  top: 46%;
  right: 1.5rem;

  &:active {
    color: $light-links-hover-colour;
  }
}

.previous-button {
  top: 45%;
  left: 1.5rem;

  &:active {
    color: $light-links-hover-colour;
  }
}

.close-modal-button {
  top: 1.5rem;
  right: 1.5rem;

  &:active {
    color: $light-links-hover-colour;
  }
}

.close-modal-button * {
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

@media (hover: hover) {
  .close-modal-button:hover,
  .next-button:hover,
  .previous-button:hover {
    color: $light-links-hover-colour;
    transform: scale(1.2);
  }
}

// ? Media Queries

@include x-small {
  .section-headings {
    font-size: 2rem;
  }
}

@include small {
  .section-headings {
    font-size: 2rem;
  }
}

@include medium {
  .section-headings {
    font-size: 2.5rem;
  }
}

@include large {
  .gallery-page-container {
    padding-top: 8rem;
  }

  .section-headings {
    margin: 1.5rem 0 1.5rem 0;
  }

  .year-subheading {
    margin: 10rem 0 1rem 0;
  }

  .next-button,
  .previous-button {
    font-size: 4.5rem;
  }

  .modal-content-container {
    height: auto;
    width: 60vw;
    margin-top: 10rem;

    object-fit: cover;
  }
}

@include extra-large {
  .gallery-page-container {
    padding-top: 8rem;
    background-attachment: fixed;
  }

  .section-headings {
    margin: 2rem 0 2rem 0;
  }

  .year-subheading {
    margin: 10rem 0 1rem 0;
  }

  .next-button,
  .previous-button {
    font-size: 4.5rem;
  }

  .modal-content-container {
    height: auto;
    width: 60vw;
    margin-top: 10rem;

    object-fit: cover;
  }
}

@include extra-extra-large {
  .gallery-page-container {
    padding-top: 8rem;
    background-attachment: fixed;
  }

  .section-headings {
    margin: 2.5rem 0 2.5rem 0;
    font-size: 3.5rem;
  }

  .year-subheading {
    margin: 10rem 0 1rem 0;
  }

  .class-section {
    margin: 30rem 0 0 0;
  }

  .next-button,
  .previous-button {
    font-size: 4.5rem;
  }

  .modal-content-container {
    height: auto;
    width: 60vw;
    margin-top: 10rem;

    object-fit: cover;
  }
}

@include extra-extra-small {
  .img-container {
    width: 20rem;
  }
}
