@import "../../../Styling/variables.module";
@import "../../../Styling/mixins.module";
@import "../../../Styling/reset.module";

.contact-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;

  width: 100vw;
  height: 100vh;

  background-image: url("../Static/poster-bg.png");
  background-position: center;
  // background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.content-container {
  width: 100vw;
  height: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: $overlay-container-colour;

  padding: 7rem 0 7rem 0;
}

.contact-heading {
  @include section-headings;

  margin-bottom: 1rem;
}

.contact-div {
  margin-bottom: 2rem;

  width: 30rem;

  // border: 2px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-text,
.name-text,
.anchor-tags {
  display: block;

  font-size: 1.5rem;
  margin-top: 0.5rem;

  text-align: center;

  font-family: $main-font-regular-font-family;
}

.contact-text,
.name-text {
  color: $contact-name-text;
}

.name-text {
  font-family: $main-font-semi-bold-font-family;
}

.anchor-tags {
  color: $contact-links-colour;
  // text-decoration: none;

  &:active {
    font-family: $main-font-semi-bold-font-family;
    text-decoration: underline;
    color: $light-links-hover-colour;
  }
}

@media (hover: hover) {
  .anchor-tags:hover {
    font-family: $main-font-semi-bold-font-family;
    text-decoration: underline;
    color: $light-links-hover-colour;
  }
}

.contact-text {
  @include contact-text;
}

@include medium {
  .address-heading {
    font-size: 2rem;
    line-height: 2.8rem;
  }
}

@include large {
  .address-heading {
    font-size: 2rem;
    line-height: 2.8rem;
  }
}

@include extra-large {
  .contact-section-container {
    background-attachment: fixed;
  }

  .address-heading {
    font-size: 1.8rem;
    line-height: 2.8rem;
  }
}

@include extra-extra-large {
  .contact-section-container {
    background-attachment: fixed;
  }

  .address-heading {
    font-size: 2rem;
    line-height: 2.8rem;
  }
}
