@import "../../../Styling/variables.module";
@import "../../../Styling/mixins.module";
@import "../../../Styling/reset.module";

.about-section-container {
  width: 100vw;
  height: 100vh;

  position: relative;
}

.bg-img-container {
  width: 100vw;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  // !!! Need a higher resolution image!

  background-image: url("../Static/poster-bg.png");
  background-position: center;
  // background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.content-container {
  width: 100vw;
  height: 30rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: $overlay-container-colour;

  margin: 15rem 0 15rem 0;

  padding: 8rem 5rem 5rem 5rem;
}

.about-heading {
  @include section-headings;
}

// ? Media Queries

@include extra-large {
  .bg-img-container {
    background-attachment: fixed;
  }

  .content-container {
    margin: 20rem 0 20rem 0;
  }
}

@include extra-extra-large {
  .bg-img-container {
    background-attachment: fixed;
  }

  .content-container {
    margin: 20rem 0 20rem 0;
  }
}
