@import "../../../Styling/variables.module";
@import "../../../Styling/mixins.module";
@import "../../../Styling/reset.module";

.about-section-container {
  width: 100vw;
  height: 100vh;

  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

    background-image: url("../Static/poster-bg.png");
  background-position: center;
  // background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.content-container {
  width: 100vw;
  height: 30rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: $overlay-container-colour;

  padding: 7rem 0 7rem 0;
}

.about-heading {
  @include section-headings;
}

.about-text {
  @include section-text;
}




// ? Media Queries

@include extra-large {
  .about-section-container {
    background-attachment: fixed;
  }

  .content-container {
    margin: 20rem 0 20rem 0;
  }
}

@include extra-extra-large {
  .about-section-container {
    background-attachment: fixed;
  }

  .content-container {
    margin: 20rem 0 20rem 0;
  }
}
