@import "../../../Styling/variables.module";
@import "../../../Styling/mixins.module";
@import "../../../Styling/reset.module";

.past-events-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100vw;
  height: auto;
  background-color: $black;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 90%;
  max-width: 100rem;

  //   border: solid red 2px;

  padding: 6rem 0 15rem 0;
}

.images-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.poster-img {
  width: 60%;

  margin: 5rem 0 3rem 0;

  &:nth-of-type(1) {
    margin-top: 5rem;
  }
}

.text-img {
  object-fit: contain;

  max-width: 90%;
}

// ? Media Queries

@include small {
  .content-container {
    width: 85%;
  }

  .poster-img {
    margin-bottom: 5.5rem;
  }
}

@include medium {
  .content-container {
    width: 80%;
  }

  .text-img {
    margin-bottom: 5rem;
  }
}

@include large {
  .content-container {
    width: 80%;
  }

  .poster-img {
    margin-bottom: 6rem;
  }

  .text-img {
    margin-bottom: 5rem;
  }
}

@include extra-large {
  .content-container {
    width: 70%;
  }

  .poster-img {
    margin-bottom: 6rem;
  }

  .text-img {
    margin-bottom: 5rem;
  }
}

@include extra-extra-large {
  .content-container {
    width: 70%;
  }

  .poster-img {
    margin-bottom: 7rem;
  }

  .text-img {
    margin-bottom: 7rem;
  }
}
