@import "../../../Styling/variables.module";
@import "../../../Styling/mixins.module";
@import "../../../Styling/reset.module";

.line-up-container {
  width: 100vw;
  height: auto;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: $black;

  padding: 6rem 0 6rem 0;

  color: $mid-grey;
}

.section-heading {
  @include psych-sub-heading;
}

.bands-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin: 10rem 0 5rem 0;

  width: 80%;
  height: auto;
}

.band-box {
  width: 20rem;
  height: 20rem;
  margin: 2rem;
  background-color: bisque;
}
