@import "../../../Styling/variables.module";
@import "../../../Styling/mixins.module";
@import "../../../Styling/reset.module";

.line-up-container {
  width: 100vw;

  // !!!
  // Todo: Change back to 100vh when bands are to be announced
  // height: 100vh;
  height: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;

  background-color: $black;

  // padding: 10rem 0 10rem 0;

  color: $mid-grey;
}

// This is for when the page is set with just 'line up' and 'to be announced'
.section-heading {
  @include section-headings;
  @include gradient-text-green;
}

.announced-section-headings {
  @include section-headings;
  @include gradient-text-green;

  margin-top: 10rem;
}

.bands-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin: 2rem 0 2rem 0;

  width: 80%;
  height: auto;
}

.band-box {
  display: flex;
  flex-direction: column;

  width: 25rem;
  height: 25rem;

  margin: 2rem;
  background-color: $white-grey;
}

.band-img {
  width: 25rem;
  height: 18.5rem;
}

.bandname {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 25rem;
  height: 6.5rem;
  background-color: $sand;

  font-family: $main-font-regular-font-family;
  font-size: 1.7rem;
  left: 0.1rem;
  color: $black;
}

// ? Media Queries

@include extra-extra-small {
  .bands-container {
    width: 100%;
  }
}

@include x-small {
  .bands-container {
    width: 100%;
  }
}

@include large {
  .announced-section-headings {
    margin-top: 15rem;
  }
  .bands-container {
    padding-top: 4rem;
  }
}

@include extra-large {
  .announced-section-headings {
    margin-top: 15rem;
  }
  .bands-container {
    padding-top: 3rem;
  }
}

@include extra-extra-large {
  .announced-section-headings {
    margin-top: 15rem;
  }
  .bands-container {
    padding-top: 5rem;
  }
}
