@import "/src/Styling/variables.module";
@import "/src/Styling/mixins.module";
@import "/src/Styling/reset.module";

.video-container {
  

    background-color: $black;

    position: relative;
  }

  .reverberation-video-container{
      width: 100vw;

    
  }

//   button{
//       position: absolute;
//       top: 50%;
//       left: 50%;

//       z-index: 100000;
//   }