@import "../../Styling/mixins.module";
@import "../../Styling/reset.module";

.home-container {
  width: 100vw;

  overflow: hidden;
}

.about-contact-bg-container {
  width: 100vw;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-image: url("./Static/poster-bg.png");
  background-position: center;

  background-size: cover;
  background-repeat: no-repeat;
}

// ? Media Queries

@include extra-large {
  .about-contact-bg-container {
    background-attachment: fixed;
  }
}

@include extra-extra-large {
  .about-contact-bg-container {
    background-attachment: fixed;
  }
}
