@import "../../../Styling/variables.module";
@import "../../../Styling/mixins.module";
@import "../../../Styling/reset.module";

.schedule-section-container {
  width: 100vw;

  // Todo: Change to 100vh when there is just a heading
  height: auto;
  // height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: $black;

  padding: 15rem 0 15rem 0;
}

.schedule-heading {
  @include section-headings;
  @include gradient-text-green;
}

.large-schedule {
  width: 80%;
  max-width: 100rem;
  margin: 5rem 0 0 0;
}

.saturday-container {
  width: 80vw;
  max-width: 100rem;
  margin: 5rem 0 0 0;
}

.saturday-schedule {
  width: 50%;
}
