@import "../../../Styling/variables.module";
@import "../../../Styling/mixins.module";
@import "../../../Styling/reset.module";

.schedule-section-container {
  width: 100vw;
  // !!!
  // Todo: Change to auto when there is content
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.schedule-heading {
  @include section-headings;
}
