// ? Colour palette
// ! Maybe bring in some orange or other colour?

// Setup variables to change colour palette for every year with the new palette

$black: #000000;
$nav-dropdown: rgba(0, 0, 0, 0.9);

$white-grey: #f2f2f2;

$mid-grey: #b7b7b7;

$black-grey: #191919;

$main-green: #38736d;
$dark-green: #275459;

$blue: #102940;
