@import "./variables.module";
@import "./mixins.module";
@import "./reset.module";

.privacy-consent-text {
  font-size: 1.4rem;
  color: $mid-grey;
  font-family: $main-font-regular-font-family;
  //   width: 80%;
}

.privacy-policy-link {
  color: $nav-links;
  font-size: 1.6rem;
  font-family: $main-font-regular-font-family;
  padding-left: 0.5rem;
  text-decoration: none;
}
