@import "../../Styling/variables.module";
@import "../../Styling/mixins.module";
@import "../../Styling/reset.module";

.impressum-page-container {
  padding-top: 15rem;
  width: 100vw;

  display: flex;
  justify-content: center;

  // Todo:
  font-family: $main-font-regular-font-family;

  margin-bottom: 20rem;
}

.content-container {
  width: 80%;

  max-width: 120rem;
  padding: 5rem;
}

.main-headings {
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
  margin-bottom: 2rem;

  // Todo:
  font-family: $main-font-regular-font-family;

  margin-top: 2rem;
}

.sub-headings {
  font-size: 1.5rem;
  margin: 1rem 0 1rem 0;
}

.company-name-heading {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.spans,
.paragraphs {
  font-size: 1.3rem;
  line-height: 2.5rem;

  font-family: $main-font-thin-font-family;
}

.spans {
  display: block;
}

.anchor-tags {
  text-decoration: none;
  color: $mauve;

  &:active {
    text-decoration: underline;
    color: $links-hover-colour;
    font-family: $main-font-regular-font-family;
  }
}

@media (hover: hover) {
  .anchor-tags:hover {
    text-decoration: underline;
    color: $links-hover-colour;
    font-family: $main-font-regular-font-family;
  }
}

// ? Media Queries

@include medium {
  .content-container {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 1rem;
  }

  .main-headings {
    font-size: 3rem;
  }

  .company-name-heading {
    font-size: 2.3rem;
  }

  .sub-headings {
    font-size: 1.6rem;
  }

  .spans,
  .paragraphs {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
}

@include large {
  .content-container {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 1rem;
  }

  .main-headings {
    font-size: 3rem;
  }

  .company-name-heading {
    font-size: 2.3rem;
  }

  .sub-headings {
    font-size: 1.6rem;
  }

  .spans,
  .paragraphs {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
}

@include extra-large {
  .content-container {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 1rem;
  }

  .main-headings {
    font-size: 3rem;
  }

  .company-name-heading {
    font-size: 2.3rem;
  }

  .sub-headings {
    font-size: 1.6rem;
  }

  .spans,
  .paragraphs {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
}

@include extra-extra-large {
  .content-container {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 1rem;
  }

  .main-headings {
    font-size: 3rem;
  }

  .company-name-heading {
    font-size: 2.3rem;
  }

  .sub-headings {
    font-size: 1.6rem;
  }

  .spans,
  .paragraphs {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
}
