@import "../../Styling/variables.module";
@import "../../Styling/mixins.module";
// @import "../../Styling/fonts.module";
@import "../../Styling/reset.module";

// ? Mobile first / Universal styling

.navbar-container {
  // position: fixed;
  // top: 0;
  z-index: 5000;
  display: flex;
  justify-content: space-between;
  align-items: center;

  overflow: hidden;

  background: $black;
  height: 8rem;
  width: 100vw;
}

.logo {
  width: 7rem;
  height: auto;
}

// Logo hover
@media (hover: hover) {
  .logo:hover {
    transform: scale(1.1);
  }
}

.right-content-nav-container {
  display: flex;
  align-items: center;

  margin-right: 3%;
}

.social-media-links-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  justify-self: flex-end;

  height: 5rem;
  width: 5rem;
}

.social-media-links {
  color: $mid-grey;
  font-size: 2rem;

  &:active {
    transform: scale(1.1);
    transition: ease-in-out;
    color: $links-hover-colour;
  }
}

// Social media links hover
@media (hover: hover) {
  .social-media-links:hover {
    transform: scale(1.1);
    transition: ease-in-out;
    color: $links-hover-colour;
  }
}

// !
// todo: set background to transparent

.mobile-nav-dropdown-container {
  background-color: $nav-dropdown;

  font-family: $nav-links-font-family;

  z-index: 5000;

  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;

  padding-top: 5rem;

  text-align: center;
  font-size: 2.5rem;
  line-height: 4.5rem;
  letter-spacing: 0.3rem;
  font-weight: 100;

  height: 100vh;

  position: absolute;
  top: 8rem;
  width: 100%;
}

.mobile-nav-list-items * {
  color: $mid-grey;
  list-style: none;
  text-decoration: none;

  li {
    &:active {
      color: $nav-links;
      cursor: pointer;
      transform: scale(1.1);
      transition: ease-in-out;
      font-weight: bold;
    }
  }
}

// @media (hover:hover) to solve sticky hover states on mobile devices
@media (hover: hover) {
  .mobile-nav-list-items > li:hover {
    color: $nav-links;
    transform: scale(1.1);
    transition: ease-in-out;
    font-weight: bold;
    cursor: pointer;
  }
}

.desktop-nav-container {
  font-family: $nav-links-font-family;
}

.desktop-nav-list-items {
  display: flex;
  justify-content: space-around;
}

.desktop-nav-list-items * {
  font-size: 1.5rem;
  color: $mid-grey;
  letter-spacing: 0.15rem;

  text-decoration: none;
  list-style: none;

  li {
    &:active {
      color: $nav-links;
      cursor: pointer;
      transform: scale(1.1);
      transition: ease-in-out;
      font-weight: bold;
      font-family: $nav-links-hover-font-family;
    }
  }
}

// @media (hover:hover) to solve sticky hover states on mobile devices
@media (hover: hover) {
  .desktop-nav-list-items * li:hover {
    color: $nav-links;
    transform: scale(1.1);
    transition: ease-in-out;
    font-family: $nav-links-hover-font-family;
    cursor: pointer;
  }
}

.hamburger-container {
  z-index: 10000;

  color: $mid-grey;
  // margin-right: 3%;

  &:active {
    color: $nav-links;
  }
}

// @media (hover:hover) to solve sticky hover states on mobile devices
@media (hover: hover) {
  .hamburger-container:hover {
    color: $nav-links;
  }
}

// * Media Queries
// ? X-Small = Less than 576px - small mobile devices
@include x-small {
  .desktop-nav-container {
    display: none;
  }

  .social-media-links-container {
    margin-right: 1rem;
  }
}

// ? Small - Less than 768px
@include small {
  .desktop-nav-container {
    display: none;
  }

  .social-media-links-container {
    margin-right: 1rem;
  }
}

// ? Medium - Less than 992px
@include medium {
  .desktop-nav-container {
    display: none;
  }

  .social-media-links-container {
    margin-right: 1rem;
  }
}

// ? Large - Less than 1200px
@include large {
  .navbar-container,
  .bg-change {
    position: fixed;
    top: 0;
  }
  .bg-change {
    background-color: rgba(0, 0, 0, 0.85) !important;

    // logo moves right when bg colour changes
    .logo {
      margin-left: 3rem;
    }
  }

  .mobile-nav-dropdown-container {
    display: none;
  }
  .hamburger-container {
    display: none;
  }

  .desktop-nav-container {
    width: 65vw;
    margin-right: 5rem;
  }
}

// ? Extra Large - Less than 1399px
@include extra-large {
  .navbar-container,
  .bg-change {
    position: fixed;
    top: 0;
  }

  .bg-change {
    background-color: rgba(0, 0, 0, 0.85) !important;
    // logo moves right when bg colour changes
    .logo {
      margin-left: 3rem;
    }
  }

  .mobile-nav-dropdown-container {
    display: none;
  }
  .hamburger-container {
    display: none;
  }

  .desktop-nav-container {
    width: 60vw;
    margin-right: 5rem;
  }
}

// ? Extra EXTRA Large - More than 1400px
@include extra-extra-large {
  .navbar-container,
  .bg-change {
    position: fixed;
    top: 0;
  }

  .bg-change {
    background-color: rgba(0, 0, 0, 0.85) !important;
    // logo moves right when bg colour changes
    .logo {
      margin-left: 3rem;
    }
  }

  .mobile-nav-dropdown-container {
    display: none;
  }
  .hamburger-container {
    display: none;
  }

  .desktop-nav-container {
    width: 55vw;
    margin-right: 5rem;
  }
}
