@import "../../../Styling/variables.module";
@import "../../../Styling/mixins.module";
@import "../../../Styling/reset.module";

.upcoming-container {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 12rem;
  background-color: $black;
  color: $mid-grey;
}

.section-heading {
  @include section-headings;
  margin-bottom: 2rem;
}

.date-heading {
  @include section-headings;
  @include gradient-text-from-palette;
  padding: 8rem 0 2rem 0;
}

.times-list {
  @include section-headings;
  @include gradient-text-from-palette-opposite-direction;
  font-size: 1.6rem !important;
  list-style: none;
  line-height: 3rem !important;
}

.bands-container {
  display: flex;
  flex-direction: column;
  margin-top: 8rem;
}

.band {
  display: flex;
  flex-wrap: wrap;
  width: 80vw;
  overflow: auto;
  margin-bottom: 10rem;
}

.band-heading {
  @include section-headings;
  @include gradient-text-from-palette;
  width: 100% !important;
  text-align: start !important;
  &:nth-of-type(2n) {
    text-align: end !important;
    @include gradient-text-from-palette-opposite-direction;
  }

  @include medium {
    font-size: 2rem !important;
  }

  @include large {
    font-size: 2rem !important;
  }

  @include extra-large {
    font-size: 2rem !important;
  }

  @include extra-extra-large {
    font-size: 2.5rem !important;
  }
}

.band-img {
  float: right;
  width: 40%;
  max-width: 60rem;
  // height: fit-content;s
  object-fit: contain;
  margin: 0 0 0 2rem;

  @include extra-extra-small {
    float: none;
    width: 100%;
    max-width: none;
    margin: 0 0 1rem 0;
  }

  @include x-small {
    float: none;
    width: 100%;
    max-width: none;
    margin: 0 0 1rem 0;
  }

  @include small {
    float: none;
    width: 100%;
    max-width: none;
    margin: 0 0 1rem 0;
  }

  @include medium {
    float: none;
    width: 100%;
    max-width: none;
    margin: 0 0 1rem 0;
  }
}

.band-img-left {
  float: left;
  width: 30%;
  max-width: 60rem;
  // height: fit-content;
  object-fit: contain;
  margin: 0 2rem 0 0;

  @include extra-extra-small {
    float: none;
    width: 100%;
    max-width: none;
    margin: 0 0 1rem 0;
  }

  @include x-small {
    float: none;
    width: 100%;
    max-width: none;
    margin: 0 0 1rem 0;
  }

  @include small {
    float: none;
    width: 100%;
    max-width: none;
    margin: 0 0 1rem 0;
  }

  @include medium {
    float: none;
    width: 100%;
    max-width: none;
    margin: 0 0 1rem 0;
  }
}

.band-text {
  @include section-text;
  width: auto !important;
  max-width: 1000rem !important;
  text-align: justify !important;
}

.social-media-links-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 5rem;
  width: 100%;
}

#social-right {
  justify-content: flex-end;
}

.social-icons-wrapper {
  display: flex;
  justify-content: space-between;
  width: 12rem;
}

.social-media-links {
  color: $footer-social-media-links;
  font-size: 2.2rem;

  &:active {
    transform: scale(1.1);
    transition: ease-in-out;
    color: $links-hover-colour;
  }
}

@media (hover: hover) {
  .social-media-links:hover {
    transform: scale(1.1);
    transition: ease-in-out;
    color: $links-hover-colour;
  }
}

.tickets {
  @include gradient-text-from-palette;
  @include section-headings;
  font-size: 2rem !important;
  line-height: 3.5rem !important;
  margin-bottom: 3rem;
}

.anchor-tags {
  font-size: 1.8rem;
  margin: 0.5rem 0 0.8rem 0;
  text-align: center;
  font-family: $main-font-regular-font-family;
  @include gradient-text-from-palette;
}

@media (hover: hover) {
  .anchor-tags:hover {
    transform: scale(1.1);
    transition: ease-in-out;
    font-weight: bold;
    @include gradient-text-from-palette-opposite-direction;
  }
}
