@import "../../../Styling/variables.module";
@import "../../../Styling/mixins.module";
@import "../../../Styling/reset.module";

.upcoming-container {
  width: 100vw;
  height: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $black;
  color: $mid-grey;
}

.section-heading {
  @include section-headings;
  @include gradient-text-green;
}

.date-heading {
  @include section-headings;
  @include gradient-text-from-palette;
  padding: 8rem 0 2rem 0;
}

.times-list{
  @include section-headings;
  @include gradient-text-from-palette-opposite-direction;
  font-size: 1.6rem !important;
  list-style: none;
  line-height:  3rem !important;
 
}

.bands-container{
  display: flex;
  flex-direction: column;
  width: 60vw;
}

.band{
  width: 100%;
}

.band-heading{
  @include section-headings;
  @include gradient-text-from-palette;
  font-size: 2rem !important;
  width: 100% !important;
  text-align: start !important;
}