@import "../../../Styling/variables.module";
@import "../../../Styling/mixins.module";
@import "../../../Styling/reset.module";

.tickets-section-container {
  width: 100vw;
  height: auto;

  position: relative;
}

.bg-img-container {
  width: 100vw;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: $black;
}

.content-container {
  width: 100vw;
  height: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  // background-color: $overlay-container-colour;
  background-color: $black;

  padding: 8rem 5rem 14rem 5rem;
}

.tickets-heading {
  @include section-headings;
  @include gradient-text-green;
}

.sub-headings {
  display: block;
  font-size: 1.8rem;
  margin-top: 0.5rem;
  text-align: center;
  font-family: $main-font-regular-font-family;

  span {
    font-size: 1.3rem;
  }
}

.list {
  list-style: circle;
  margin: 2rem 0 0 1rem;
}

.ticket-prices {
  font-family: $main-font-semi-bold-font-family;
  font-size: 1.6rem;
  line-height: 2.5rem;

  span {
    font-family: $main-font-regular-font-family;
    font-size: 1.5rem;
  }
}

.all-days-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: auto;
  margin: 2rem 0 2rem 0;
  @include gradient-text-green;
}

.day-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25rem;
  height: 15rem;
  margin: 2rem;
}

.links-button {
  @include links-button;
}

// ? Media Queries

@include extra-extra-small {
  .all-days-container {
    width: 100%;
  }
}
@include x-small {
  .all-days-container {
    width: 100%;
  }
}

@include medium {
  .sub-headings {
    font-size: 2rem;
    line-height: 2.8rem;

    span {
      font-size: 1.5rem;
    }
  }
}

@include large {
  .sub-headings {
    font-size: 2rem;
    line-height: 2.8rem;

    span {
      font-size: 1.5rem;
    }
  }

  .all-days-container {
    padding-top: 4rem;
  }
}

@include extra-large {
  .content-container {
    margin: 20rem 0 20rem 0;
  }

  .sub-headings {
    font-size: 1.8rem;
    line-height: 2.8rem;

    span {
      font-size: 1.5rem;
    }
  }

  .all-days-container {
    padding-top: 3rem;
  }
}

@include extra-extra-large {
  .content-container {
    margin: 20rem 0 20rem 0;
  }

  .sub-headings {
    font-size: 2rem;
    line-height: 2.8rem;

    span {
      font-size: 1.5rem;
    }
  }

  .all-days-container {
    padding-top: 5rem;
  }
}
