@import "../../../Styling/variables.module";
@import "../../../Styling/mixins.module";
@import "../../../Styling/reset.module";

.landing-area-container {
  width: 100vw;
  //   height: 100vh;
}

.landing-area-extra-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  //   height: 40vh;
  height: auto;
  width: 100vw;

  padding: 5rem 0 6rem 0;

  background-color: $black;
}

.main-heading {
  font-size: 3.5rem;
  text-align: center;

  font-family: $intro-font-family;
  letter-spacing: 0.2rem;
}

.sub-headings {
  font-size: 1.5rem;
  margin-top: 2rem;
  font-family: $sub-headings;
}

.glitch {
  color: lighten($landing-heading-colour, 22%);
  position: relative;

  animation: glitch 5s 5s infinite;
}

.glitch::before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: -5px 0 $landing-animation-shadow-1;
  background: black;
  overflow: hidden;
  top: 0;
  animation: noise-1 3s linear infinite alternate-reverse,
    glitch 5s 5.05s infinite;
}

.glitch::after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -5px 0 lightgreen;
  background: black;
  overflow: hidden;
  top: 0;
  animation: noise-2 3s linear infinite alternate-reverse, glitch 5s 5s infinite;
}

@keyframes glitch {
  1% {
    transform: rotateX(10deg) skewX(90deg);
  }
  2% {
    transform: rotateX(0deg) skewX(0deg);
  }
}

@keyframes noise-1 {
  $steps: 30;
  @for $i from 1 through $steps {
    #{percentage($i*(1/$steps))} {
      $top: random(100);
      $bottom: random(101 - $top);
      clip-path: inset(#{$top}px 0 #{$bottom}px 0);
    }
  }
}

@keyframes noise-2 {
  $steps: 30;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      $top: random(100);
      $bottom: random(101 - $top);
      clip-path: inset(#{$top}px 0 #{$bottom}px 0);
    }
  }
}

@keyframes fudge {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(0px, 2%);
  }
}

.glow {
  @extend .glitch;
  text-shadow: 0 0 1000px rgb(223, 191, 191);
  color: transparent;
  position: absolute;
  top: 0;
}

@keyframes glitch-2 {
  1% {
    transform: rotateX(10deg) skewX(70deg);
  }
  2% {
    transform: rotateX(0deg) skewX(0deg);
  }
}

// Button

.button-container {
  margin-top: 4rem;
  height: 5rem;
  width: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  border: $landing-ticket-button-colour 0.3rem solid;
  background-color: transparent;
  border-radius: 0.25em;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
  box-shadow: inset 0 0 0.5em 0 $landing-ticket-button-colour,
    0 0 0.5em 0 $landing-ticket-button-colour;
  transition: all 0.3s;

  &:active {
    background-color: $landing-ticket-button-colour;
  }
}

.button-a-link {
  color: $landing-ticket-button-colour;
  text-decoration: none;
  font-size: 2rem;

  &:active {
    color: $white-grey;
  }
}

@media (hover: hover) {
  .button-container:hover {
    background-color: $landing-ticket-button-colour;
  }

  .button-container:hover {
    color: $white-grey;
  }
}

// Image section

.main-image-container {
  border: 1rem solid $black;
  height: 80vh;
}

.main-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

// ? Media queries

@include extra-extra-small {
  .main-heading {
    font-size: 2.5rem;
  }

  .sub-headings {
    font-size: 1rem;
  }
}

@include medium {
  .landing-area-extra-content {
    padding: 8rem 0 10rem 0;
  }

  .main-heading {
    font-size: 4.5rem;
  }

  .sub-headings {
    font-size: 3rem;
  }
}

@include large {
  .landing-area-extra-content {
    padding: 15rem 0 8rem 0;
  }

  .main-heading {
    font-size: 4.5rem;
  }

  .sub-headings {
    font-size: 3rem;
  }
}

@include extra-large {
  .landing-area-extra-content {
    padding: 15rem 0 8rem 0;
  }

  .main-heading {
    font-size: 4.5rem;
  }

  .sub-headings {
    font-size: 3rem;
  }
}

@include extra-extra-large {
  .landing-area-extra-content {
    padding: 20rem 0 10rem 0;
  }

  .main-heading {
    font-size: 6.5rem;
  }

  .sub-headings {
    font-size: 4rem;
  }
}
