@import "../../../Styling/variables.module";
@import "../../../Styling/mixins.module";
@import "../../../Styling/reset.module";

.landing-area-container {
  width: 100vw;
  //   height: 100vh;
}

.landing-area-extra-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  //   height: 40vh;
  height: auto;
  width: 100vw;

  padding: 5rem 0 6rem 0;

  background-color: $black;
}

// Headings

.main-heading {
  font-size: 3.7rem;
  text-align: center;

  font-family: $intro-font-family;
  letter-spacing: 0.2rem;
}

.sub-headings {
  width: 80%;

  font-size: 1.6rem;
  text-align: center;
  padding-top: 2rem;
  font-family: $sub-headings;

  color: $sand;
}

.text-effect {
  overflow: hidden;
  position: relative;
  filter: contrast(110%) brightness(190%);
}

.neon {
  position: relative;
  background: $black;
  color: transparent;

  &::before,
  &::after {
    // Add two copies of the text on their own layer
    content: attr(data-text);

    color: $white-grey;
    filter: blur(0.02em);

    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
  }

  &::after {
    mix-blend-mode: difference;
  }
}

// Effect layers
.gradient,
.spotlight {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
  z-index: 10;
}

// Add the colors
.gradient {
  background: linear-gradient(45deg, $sand, $mauve);

  // Multiply mode will paint only the white text
  mix-blend-mode: multiply;
}

.spotlight {
  animation: light 10s infinite linear;

  background: radial-gradient(circle, white, transparent 25%) 0 0 / 25% 25%,
    radial-gradient(circle, white, black 25%) 50% 50% / 12.5% 12.5%;
  top: -100%;
  left: -100%;

  // Shimmer effect
  mix-blend-mode: color-dodge;
}

@keyframes light {
  100% {
    transform: translate3d(50%, 50%, 0);
  }
}

// Button

.button-container {
  margin-top: 5rem;
  height: 4rem;
  width: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  border: $landing-ticket-button-colour 0.3rem solid;
  background-color: transparent;
  border-radius: 0.25em;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
  box-shadow: inset 0 0 0.5em 0 $landing-ticket-button-colour,
    0 0 0.5em 0 $landing-ticket-button-colour;
  transition: all 0.3s;

  &:active {
    background-color: $landing-ticket-button-colour;
  }
}

.button-a-link {
  color: $landing-ticket-button-colour;
  text-decoration: none;
  font-size: 2rem;

  &:active {
    color: $white-grey;
  }
}

@media (hover: hover) {
  .button-container:hover {
    background-color: $landing-ticket-button-colour;
    transform: scale(1.1);
  }

  .button-a-link:hover {
    color: $white-grey;
  }
}

// Image section

// Todo: Style once I have new poster

.main-image-container {
  border: 1rem solid $black;
  height: 50vh;
}

.main-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

// ? Media queries

@include extra-extra-small {
  .main-heading {
    font-size: 2.5rem;
  }

  .sub-headings {
    font-size: 1rem;
  }
}

@include small {
  .landing-area-extra-content {
    padding: 8rem 0 10rem 0;
  }

  .main-heading {
    font-size: 5.5rem;
  }

  .sub-headings {
    font-size: 2.5rem;
  }
}

@include medium {
  .landing-area-extra-content {
    padding: 8rem 0 10rem 0;
  }

  .main-heading {
    font-size: 5.5rem;
  }

  .sub-headings {
    font-size: 2.5rem;
  }
}

@include large {
  .landing-area-extra-content {
    padding: 15rem 0 8rem 0;
  }

  .main-heading {
    font-size: 5.5rem;
  }

  .sub-headings {
    font-size: 3rem;
  }
}

@include extra-large {
  .landing-area-extra-content {
    padding: 15rem 0 8rem 0;
  }

  .main-heading {
    font-size: 5.5rem;
  }

  .sub-headings {
    font-size: 3rem;
  }
}

@include extra-extra-large {
  .landing-area-extra-content {
    padding: 20rem 0 10rem 0;
  }

  .main-heading {
    font-size: 6.5rem;
  }

  .sub-headings {
    font-size: 3rem;
  }
}
