@import "../../Styling/variables.module";
@import "../../Styling/mixins.module";
@import "../../Styling/reset.module";

// ? Mobile first / Universal styling

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 18rem;
  background-color: lighten($black, 15%);

  // margin-top: 50rem;
}

.copyright-span {
  width: 60%;
  color: $mid-grey;
  font-weight: 400;
  font-size: 1.4rem;

  text-align: center;
  margin-bottom: 3rem;
  line-height: 2rem;

  font-family: $main-font-regular-font-family;
}

.impressum-link {
  text-decoration: none;
  color: $mid-grey;

  font-family: $main-font-semi-bold-font-family;
}

@media (hover: hover) {
  .impressum-link:hover {
    color: $links-hover-colour;
  }
}

.built-by {
  font-size: 1.3rem;
  text-align: center;
  font-family: $main-font-thin-font-family;
  color: $mid-grey;
  line-height: 2rem;

  a {
    text-decoration: none;
    font-weight: bold;
    color: $mid-grey;
    font-family: $main-font-semi-bold-font-family;
  }
}

@media (hover: hover) {
  .built-by > a:hover {
    transform: scale(1.1);
    transition: ease-in-out;
    font-weight: bold;
    color: $mauve;
  }
}
