.home-container {
  width: 100vw;
  padding-top: 8rem;
}

.main-image {
  width: 100vw;
  height: 30rem;

  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;

  // !!
  // Todo - I need an image with no border that will fit all screen sizes
  background-image: url("./Static/wip2.png");
  background-position: center;
  background-repeat: no-repeat;
  //   background-size: cover;
}
